
/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 56px;
    /* color: #333; */
    background: linear-gradient(100deg, #1e2544 0%, #764ba2 100%);
   
}

/*main section*/
.home1 {
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.home1 .font{
  font-size: 2em;
  font-weight: bold;
  animation: fadeIn 3s ease-in forwards;
}
@keyframes fadeIn{
  0% {opacity: 0; transform: translateY(-20px);}
  50% {opacity: 1; transform: translateY(0);}
}

.para{
  font-size: 20px;
}

.icons1{
     
     display: flex;
     justify-content: center;
     gap: 40px;
    
}
.icons1 i{
    cursor: pointer;
   
}
.icons1 a{
    color: white;
}
.icons1 i:hover{
    transform: scale(1.2) rotate(-10deg)
}
.imag{
    margin-top: 20px;
}

.btn1{
    margin: 30px;
    
}
.btn1:hover{
    transform: scale(1.1)
}





/* about section */
.main2{
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
.abo{
    font-size: 2em;
    font-weight: bold;
    animation: fadeIn 3s ease-in forwards;
  }
  @keyframes fadeIn{
    0% {opacity: 0; transform: translateY(-20px);}
    50% {opacity: 1; transform: translateY(0);}
  }

.sk i:hover{
    cursor: pointer;
    transform: scale(1.1)   
}


  /* Projects */
  #projects{
    color: white;
    min-height: 100vh;
  }
  
  #project{
    
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  

/* Form section */
#contact{
    color: white;
    
}

.form1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.btn1{
  border-radius: 20px;
}


@media (max-width: 576px) {
  .home1 img {
    width: 60%;
  }

  .home1 .font, .abo {
    font-size: 1.5rem;
  }

  .para, .para2 {
    font-size: 16px;
  }

  .btn1 {
    margin: 15px;
  }
}
